.character-list {
  display: grid;
  margin: 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}

@media (max-width: 900px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .character-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 7rem 0rem 0rem 5rem;
  }
}

@media (max-width: 400px) {
  .character-list {
    margin: 7rem 0rem 0rem 2rem;
  }
}
